<div class="mat-typography app-frame" fxLayout="column">
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidepanel.toggleState()">
            <md-icon>menu</md-icon>
        </button>
        <span class="toolbar-header">Observable Collections</span>
    </md-toolbar>
    <div class="app-body" fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch">
        <app-sidepanel></app-sidepanel>
        <div fxFlex class="app-panel">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>